@import "./variables";
@import "./mixins";

/* Bill, Number of People */
input{
    width: 100%;
    border:none;
    background-color: $bg-input;
    border-radius: 5px;
    margin-top: 5px;
    text-align: right;
    padding: 2px 1rem;
    border: 2px solid transparent;
    &::placeholder{
        color: $gray-darkish;
    }
}


#bill::before{
    @include before();
    background: url("../images/icon-dollar.svg") no-repeat;
}

#number-of-people::before{
    @include before();
    background: url("../images/icon-person.svg") no-repeat;
}

.input-value-container{
    position: relative;
}


/* select value buttons*/

.select-value--buttons{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap:1rem;
    & input{
        cursor: pointer;
    }
}

input[type="radio"]{
    // background-color: red;
     background-color: $cyan-dark;
     color: $bg-input;
     appearance: none;
     width: auto;
     height: 100%;
     position: relative;
     &.checked{
         @include click-light-green();
     }
 
     &::after{
         display: flex;
         justify-content: center;
     }
 
     &:hover{
         background-color: $cyan-strong;
         color:$cyan-dark;
     }
}

#b5::after{
    content: "5%";
}

#b10::after{
    content: "10%";
}

#b15::after{
    content: "15%";
}

#b25::after{
    content: "25%";
}

#b50::after{
    content: "50%";
}

#bcustom{
    color:$cyan-dark;
    height: 100%;
    text-transform: capitalize;
    padding: 0;
    text-align: center;
    &::placeholder{
        color:$gray-darkest;
    }
}

input[type="number"]{
    outline:none ;
    color:$cyan-dark;
    &:focus{
        border:2px solid $cyan-strong;
        color:$cyan-dark;
    }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

label{
    visibility: hidden;
    position: absolute;
}
