@media screen and (max-width: 769px) {

    body{
        height: unset;
    }

    main{
        flex-direction: column;
    }

    main + .attribution{
        text-align: center;
        margin: 0 10px;
        margin-bottom: 100px;
    }
    
    .input-values .select-value__buttons{
        grid-template-columns: repeat(2, 1fr);
        & input{
            width: 50%;
        }
    }

    .input-values input[type="radio"], #bcustom{
        width: 100%;
    }
}
