@media screen and (max-width: 769px) {

    body{
        height: unset;
    }

    main{
        flex-direction: column;
    }

    .input-values .select-value--buttons{
        // grid-template-columns: unset;
        grid-template-columns: repeat(2, 1fr);
        & input{
            width: 50%;
        }
    }

    .input-values input[type="radio"], #bcustom{
        width: 100%;
    }
}
