@import "./variables";
@import "./mixins";


.output-values__article{
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
}


.output-values__reset{
    width: 100%;
    padding: 0.5rem 0;
    border-radius: 5px;
    border:none;
    background-color: $cyan-strong;
    color: $cyan-dark;
    opacity: 0.3;
}

.reset-active{
    opacity: 1;
    cursor: pointer;
    &:active{
        @include click-light-green();
    }
}