@import "./resets";
@import "./typography";
@import "./media-queries";
@import "./input-values";
@import "./output_values";


body{
    background-color:$gray-darkish ;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    place-content: center;
}

header{
    margin: 0 auto;
    margin-top: 161px;
    margin-bottom: 86px;
    & img{
        margin: 0 auto;
        display: block;
    }
}

.attribution{
    margin: 0 auto;
    margin-bottom: 200px;
}

main{
    max-width: 920px;
    min-height: 483px;
    background-color: $bg-white;
    display: flex;
    padding: 31px;
    border-radius: 25px;
    box-shadow: 0rem 0 1rem $gray-dark2;
}

.input-values{
    flex: 1;
    padding: 14px 19px;
    display: flex;
    flex-direction: column;
    gap:44px;
}

.output-values{
    flex: 1;
    background-color: $cyan-dark;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
